*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --border:1px dotted #585858;
    --back: rgba(75,0,224, 0.698);
    --color: #000;
    --color-boton:#fff;
    --backtbla:#fff;
    --box-shadow: 0px 0px 5px rgba(0,0,0,.75);
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
h3{
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 5px;
}
h3 + p{
    color: #774c4c;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}
.contenedor{
    padding: 80px 0;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    overflow: hidden;
}
header{
    height: 700px;
    width: 100%;
    position: relative;
    background: #00B4DB;
}
/* Menú */
    #btn-menu{
        display: none;
    }
    header label{
        display: none;
        width: 70px;
        height: 70px;
        cursor: pointer;
        border-radius: 100%;
        background: #00c6ff;
        background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
        background: linear-gradient(to right, #0072ff, #00c6ff);
        justify-content: center;
        align-items: center;
    }
    .img-burger{
        width: 48px;
        height: 48px;
        margin-left: 10px;
        margin-top: 10px;
    }

    header label:hover{
        cursor: pointer;
        /* background: rgba(0, 0, 0, 0.3); */
    }

/* MENÚ BURGER */
.menu ul{
    margin:0;
    list-style:none;
    padding:0;
    display:flex;
    background: rgb(15, 190, 221);
    position: fixed;
    width: 100%;
    z-index: 1;
} 
.menu li{
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid #fff;
    letter-spacing: 2px;
    font-size: 1rem;
    padding-top: 5px;
}
.menu li:hover {
    background: #00e1ff;
}
.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    letter-spacing: 5px;
    /* font-weight: bold; */
}

/* ESTILOS DE HEADER */
.contenido-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 550px;
    margin: auto;
    color: #fff;
    overflow: hidden;
    font-family: 'Dancing Script', cursive;
}
    .contenido-header .textos-header{
        width: 50%;
        transform: translateY(0);
        opacity: 1;
        animation: animacion2 1s ease-out;
    }
    .contenido-header h1{
        font-size: 55px;
        font-weight: normal;
    }
    .contenido-header h1 strong{
        color: #3f3d56;
        position: relative;
    }
    .contenido-header .nombre{
        color: #3f3d56;
        font-weight: bold;
        font-style: normal;
    }
    /* Al unico qelemento que está dentro de textos-header */
    .textos-header>a{
        display: inline-block;
        color: #fff;
        border-radius: 10px;
        text-decoration: none;
        font-weight: 300;
        margin-top: 20px;
        padding: 10px 2px;
        width: 120px;
        height: 60px;
        text-align: center;
        font-size: 20px;
        background: #3f3d56;
        font-family: 'Roboto', sans-serif;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, .85);
    }
    .textos-header>a:hover{
        background: #fff;
        color: #3f3d56;
    }
    .contenido-header .img-header{
        width: 50%;
    }
    .img-header img{
        transform: translateX(0);
        opacity: 1;
        animation: animacion1 1s ease-out;
        width: 100%;
    }
    @keyframes animacion1{
        0%{
            transform: translateX(100%);
            opacity: 0;
        }
    }
    @keyframes animacion2{
        0%{
            transform: translateY(100%);
            opacity: 0;
        }
    }
    .wave-bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        overflow: hidden;
        height: 200px;
        width: 100%;
        fill: #fff;
    }

    /* Sobre mi */
.acerca-de{
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.acerca-de p{
    padding-bottom: 15px;
}
.acerca-de img{
    width: 30%;
    height: 300px;
    align-self: center;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .6);
    object-fit: cover;
}

/* skills */
.skills{
    width: 100%;
}
    .contenedor-skills{
        display: flex;
    }
        .skill-tech{
            width: 50%;
            display: flex;
        }
        .skill-tech ul{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .skill-tech ul li{
            list-style: none;
            text-align: center;
            margin: 25px;
            width: 20%;
        }
        .skill-tech p{
            border-top-style: dotted;
            border-top-color: #0072ff;
            letter-spacing: 2px;
            padding-top: 5px;
            font-size: 16px;
        }
        .skill-soft{
            width: 50%;
            border-left: 1px solid #3f3d56;
        }
        .skill-soft ul{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
        }
        .skill-soft ul li{
            list-style: none;
            text-align: center;
            margin: 25px;
            width: 25%;
        }
        .skill-soft ul li img{
            width: 64px;
        }
        .skill-soft p{
            border-top-style: dotted;
            border-top-color: #0072ff;
            letter-spacing: 2px;
            font-size: 16px;
        }

/* PROYECTOS */
    .proyectos{
        width: 100%;
    }
        .lista__proyectos{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin-top: 20px;
        }
            .contenedor-proyectos{
                border: 1px solid rgba(0, 0, 0, 0.274);
                width: 45%;
                height: 350px;
                margin: 10px 0px;
                border-radius: 25px;
            }
            .contenedor-proyectos img{
                padding-top: 10px;
                width: 100%;
                height: 280px;
            }
            .descripcion-proyectos{
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
            }
                .descripcion-proyectos a{
                    width: 20%;
                    color:#fff;
                    margin: 0px 10px;
                    border-radius: 10px;
                    text-decoration: none;
                    letter-spacing: 1px;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 10px 10px 10px rgba(0,0,0,.75);
                }
                .background-rs{
                    background: #00c6ff;
                    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
                    background: linear-gradient(to right, #0072ff, #00c6ff);
                }
                .background-cod{
                    background: #232526;
                    background: -webkit-linear-gradient(to right, #414345, #232526);
                    background: linear-gradient(to right, #414345, #232526);
                }
                .descripcion-proyectos a:hover{
                    background: #fff;
                    color: #0072ff;
                    border: 1px solid #0072ff;
                    text-decoration: underline;
                }
    /* Slider */
.slider-contenedor{
    width: 100%;
    margin: auto;
    padding-top: 35px;
    overflow: hidden;
}
    .slider{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        transition: transform .1s;
        margin-bottom: 40px;
    }
    .cont-slider{
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 20px;
    }
    .cont-slider p{
        font-style: italic;
        font-weight: 300;
        columns: #585858;
        width: 80%;
        text-align: center;
        font-size: 18px;
        letter-spacing: 2px;
    }
    .cont-slider p::before{
        content: "\201C";
        font-size:45px;
        line-height:0px;
        vertical-align:middle;
        font-weight: bold;
        font-family: Georgia;
        color: #3f3d56;
    }
    .cont-slider p::after{
        content: "\201D";
        font-size:45px;
        line-height:0px;
        vertical-align:middle;
        font-weight: bold;
        font-family: Georgia;
        color: #3f3d56; 
    }

    .cont-slider img{
        vertical-align: top;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        object-fit: cover;
        margin-top: 20px;
        box-shadow: 5px 5px 5px #303336;
        object-fit: cover;
    }
    .cont-slider h4{
        color: #0072ff;
        letter-spacing: 3px;
        margin-top: 10px;
        text-transform: uppercase;
    }

    /* Footer */
footer{
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c8ff8f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c8ff8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 80px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
footer h6{
    font-size: 45px;
    text-align: center;
    display: inline-block;
    margin-bottom: 15px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 5px;
}
footer p{
    margin-bottom: 10px;
    color: #fff;
    letter-spacing: 3px;
}
    .footer-contact{
        width: 27%;
    }
    .footer-contact i{
        font-size: 20px;
        color: #fff;
        padding: 14px;
        background: #000;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 100%;
        margin: 15px 15px 0 0;
        cursor: pointer;
    }
    .footer-logo{
        width: 20%;
        height: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #303336;
    }
    .background-linkedin{
        display: flex;
        flex-direction: column;
    }
        .bg{
            width: 100%;
        }
        .user{
            width: 100px;
            height: 120px;
            margin-top: -70px;
            align-self: center;
            border-radius: 50%;
            object-fit: cover;
        }
    .informacion-linkedin{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        font-family: 'Roboto', sans-serif;
    }
    .informacion-linkedin .name{
        font-weight: bold;
        text-align: center;
    }
    .informacion-linkedin a{
        width: 100px;
        height: 30px;
        background: #008cc9;
        text-decoration: none;
        color: #fff;
        border-radius: 10px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .informacion-linkedin img{
        width: 45%;
        padding-top: 10px;
    }

/* media queries */

@media (max-width: 768px){
    header{
        height: auto;
    }
    header label{
        display: block;
        position:fixed;
    }
    .menu{
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        margin-left: -100%;
        transition: all 0.5s;
    }
    .menu ul{
        flex-direction: column;
        position:fixed;
        margin-top: 70px;
        width: 50%;
        background: rgba(0, 0, 0, 0.8);
    }
    .menu li{
        border: 1px solid #fff;
    }
    .menu li a{
        color: #fff;
    }
    #btn-menu:checked ~ .menu{
        margin: 0px;
    }
    .contenido-header{
        flex-wrap: wrap;
        height: 900px;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }
    .contenido-header .textos-header{
        width: 80%;
        margin-bottom: 100px;
        text-align: center;
    }
    .contenido-header h1{
        font-size: 40px;
    }
    .contenido-header h2{
        font-size: 20px;
    }
    .contenido-header .img-header{
        width: 80%;
    }
    .contenedor-acerca-de{
        justify-content: center;
        align-items: center;
    }
    .card-acerca{
        width: 100%;
    }
    .acerca-de img{
        width: 60%;
        height: 250px;
    }
    /* Skills*/
    .skill-tech p{
        letter-spacing: 0px;
        font-size: 12px;
    }
    .skill-soft p{
        letter-spacing: 0px;
        font-size: 13px;
    }
    /* Proyectos */
    .contenedor-proyectos{
        width: 100%;
    }
    .contenedor-proyectos img{
        width: 100%;
        height: 250px;
    }
    .descripcion-proyectos a{
        width: 30%;
        color:#fff;
        margin: 0px 10px;
        height: 50px;
    }
    /* Slider */
    .cont-slider img{
        width: 250px;
        height: 250px;

    } 
    /* Footer */
    footer{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .footer-contact{
        width: 100%;
    }
    .footer-logo{
        width: 50%;
        margin-top: 10px;
        height: 350px;
    }
    .user{
        width: 80px;
        height: 100px;
        margin-top: -40px;
    }
    .informacion-linkedin p{
        font-weight: bold;
        text-align: center;
        font-size: 12px;
    }
    .informacion-linkedin a{
        font-size: 12px;
    }
}